
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="TR">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blog Gönderi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="icon" rel="icon">
    <link href="icon" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Tasarım_Dosyaları/Main/Main-vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Tasarım_Dosyaları/Main/Main-css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: FlexStart - v1.11.1
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="HomePage" class="logo d-flex align-items-center">
                <img src="~/Tasarım_Dosyaları/Main/Main-img/logo.png" alt="">
                <span>Space</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                    <li><a class="nav-link scrollto" href="#services">Hizmetler</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Ürünlerimiz</a></li>
                    <li><a class="nav-link scrollto" href="#team">Takımımız</a></li>
                    <li><a class="active" href="StateBlogPage">Blog</a></li>
                    <li class="form-control">
                        <a href="#"><span>Seçenekler</span> <i class="bi bi-chevron-down"></i></a>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                    <li><a class="getstarted scrollto" href="Paylasım">Paylaşım Yap</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="Main/StateBlogPage">Blog</a></li>
                    <li>Blog Gönderi</li>
                </ol>
                <h2>Blog Gönderi</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Blog Single Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-8 entries">

                        <article class="entry entry-single">

                            <div class="entry-img">
                                <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-1.jpg" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a href="Main/BlogSinglePage">Gönderi kısaca açıklama Başlığı</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="Main/BlogSinglePage">Ahmet Can</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="Main/BlogSinglePage"><time datetime="2020-01-01">Ocak 1, 2022</time></a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="Main/BlogSinglePage">12 Yorum</a></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    açıklama
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, quam!
                                </p>

                                <p>
                                    açıklama
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, laudantium.
                                </p>

                                <blockquote>
                                    <p>
                                        açıklama
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, enim.
                                    </p>
                                </blockquote>

                                <p>
                                    açıklama Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus tempore repellendus nesciunt esse reprehenderit odio ipsam voluptatum quam, ut fuga quod asperiores magnam amet vero. Saepe adipisci exercitationem non ea?
                                </p>

                                <h3>alt başlık</h3>
                                <p>
                                    açıklama <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, repellat fugit enim, architecto qui error quasi vitae mollitia recusandae sit tenetur vel ut culpa molestias accusantium autem dolores unde. Laboriosam.
                                </p>
                                <img src="Main-img/blog/blog-inside-post.jpg" class="img-fluid" alt="">

                                <h3>alt başlık</h3>
                                <p>
                                    açıklama <br>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur vitae ipsa aperiam aspernatur nam rem ea. Quam, autem quod.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga natus autem aut sunt. Reiciendis, atque.
                                </p>

                            </div>

                            <div class="entry-footer">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">İş</a></li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    <li><a href="#">Yaratıcı</a></li>
                                    <li><a href="#">Taktik</a></li>
                                    <li><a href="#">Pazarlama</a></li>
                                </ul>
                            </div>

                        </article><!-- End blog entry -->

                        <div class="blog-author d-flex align-items-center">
                            <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
                            <div>
                                <h4>Hayriye Kutlu</h4>
                                <div class="social-links">
                                    <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                                </div>
                                <p>
                                    Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                                </p>
                            </div>
                        </div><!-- End blog author bio -->

                        <div class="blog-comments">

                            <h4 class="comments-count">8 Yorum</h4>

                            <div id="comment-1" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="Main-img/blog/comments-1.jpg" alt=""></div>
                                    <div>
                                        <h5><a href="">Fatma San</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                        <time datetime="2020-01-01">01 Ocak, 2022</time>
                                        <p>
                                            Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                                            Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End comment #1 -->

                            <div id="comment-2" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="~/Tasarım_Dosyaları/Main/Main-img/blog/comments-2.jpg" alt=""></div>
                                    <div>
                                        <h5><a href="">Ahmet Hak</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                        <time datetime="2020-01-01">01 Ocak, 2022</time>
                                        <p>
                                            Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                                        </p>
                                    </div>
                                </div>

                                <div id="comment-reply-1" class="comment comment-reply">
                                    <div class="d-flex">
                                        <div class="comment-img"><img src="~/Tasarım_Dosyaları/Main/Main-img/blog/comments-3.jpg" alt=""></div>
                                        <div>
                                            <h5><a href="">Gülsüm Şükela</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                            <time datetime="2020-01-01">01 Ocak, 2022</time>
                                            <p>
                                                Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                                Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                                                Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                                            </p>
                                        </div>
                                    </div>

                                    <div id="comment-reply-2" class="comment comment-reply">
                                        <div class="d-flex">
                                            <div class="comment-img"><img src="~/Tasarım_Dosyaları/Main/Main-img/blog/comments-4.jpg" alt=""></div>
                                            <div>
                                                <h5><a href="">Hilal Cankurt</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                                <time datetime="2020-01-01">01 Ocak, 2022</time>
                                                <p>
                                                    Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                                                </p>
                                            </div>
                                        </div>

                                    </div><!-- End comment reply #2-->

                                </div><!-- End comment reply #1-->

                            </div><!-- End comment #2-->

                            <div id="comment-3" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="~/Tasarım_Dosyaları/Main/Main-img/blog/comments-5.jpg" alt=""></div>
                                    <div>
                                        <h5><a href="">Hakkı Altan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                        <time datetime="2020-01-01">01 cak, 2022</time>
                                        <p>
                                            Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                                            Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                                        </p>
                                    </div>
                                </div>

                            </div><!-- End comment #3 -->

                            <div id="comment-4" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="~/Tasarım_Dosyaları/Main/Main-img/blog/comments-6.jpg" alt=""></div>
                                    <div>
                                        <h5><a href="">Gürkan Sansar</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Cevapla</a></h5>
                                        <time datetime="2020-01-01">01 Ocak, 2022</time>
                                        <p>
                                            Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                                        </p>
                                    </div>
                                </div>

                            </div><!-- End comment #4 -->

                            <div class="reply-form">
                                <h4>Cevap Bırakın</h4>
                                <p>E-posta hesabınız yayımlanmayacak. Gerekli alanlar işaretlendi * </p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input name="name" type="text" class="form-control" placeholder="İsim*">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input name="email" type="text" class="form-control" placeholder="E-posta*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <input name="website" type="text" class="form-control" placeholder="Websiteniz">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <textarea name="comment" class="form-control" placeholder="Yorumunuz*"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Yorum Gönder</button>

                                </form>

                            </div>

                        </div><!-- End blog comments -->

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <h3 class="sidebar-title">Ara</h3>
                            <div class="sidebar-item search-form">
                                <form action="">
                                    <input type="text">
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End sidebar search formn-->

                            <h3 class="sidebar-title">Kategoriler</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    <li><a href="#">Genel <span>(25)</span></a></li>
                                    <li><a href="#">Yaşam Tarzı <span>(12)</span></a></li>
                                    <li><a href="#">Seyahet <span>(5)</span></a></li>
                                    <li><a href="#">Tasarım <span>(22)</span></a></li>
                                    <li><a href="#">Yaratıcı <span>(8)</span></a></li>
                                    <li><a href="#">Eğitim <span>(14)</span></a></li>
                                </ul>
                            </div><!-- End sidebar categories-->

                            <h3 class="sidebar-title">Son Gönderi</h3>
                            <div class="sidebar-item recent-posts">
                                <div class="post-item clearfix">
                                    <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-recent-1.jpg" alt="">
                                    <h4><a href="Main/BlogSinglePage">Nihil blanditiis at in nihil autem</a></h4>
                                    <time datetime="2020-01-01">Ocak 1, 2022</time>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-recent-2.jpg" alt="">
                                    <h4><a href="Main/BlogSinglePage">Quidem autem et impedit</a></h4>
                                    <time datetime="2020-01-01">Ocak 1, 2022</time>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-recent-3.jpg" alt="">
                                    <h4><a href="Main/BlogSinglePage">Id quia et et ut maxime similique occaecati ut</a></h4>
                                    <time datetime="2020-01-01">Ocak 1, 2022</time>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-recent-4.jpg" alt="">
                                    <h4><a href="Main/BlogSinglePage">Laborum corporis quo dara net para</a></h4>
                                    <time datetime="2020-01-01">Ocak 1, 2022</time>
                                </div>

                                <div class="post-item clearfix">
                                    <img src="~/Tasarım_Dosyaları/Main/Main-img/blog/blog-recent-5.jpg" alt="">
                                    <h4><a href="Main/BlogSinglePage">Et dolores corrupti quae illo quod dolor</a></h4>
                                    <time datetime="2020-01-01">Ocak 1, 2022</time>
                                </div>

                            </div><!-- End sidebar recent posts-->

                            <h3 class="sidebar-title">Etiketler</h3>
                            <div class="sidebar-item tags">
                                <ul>
                                    <li><a href="#">Uygulama</a></li>
                                    <li><a href="#">İş</a></li>
                                    <li><a href="#">Tasarım</a></li>
                                    <li><a href="#">Ofis</a></li>
                                    <li><a href="#">Yaratıcı</a></li>
                                    <li><a href="#">Taktik</a></li>
                                    <li><a href="#">Pazarlama</a></li>
                                </ul>
                            </div><!-- End sidebar tags-->

                        </div><!-- End sidebar -->

                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Single Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <!--- <div class="footer-newsletter">
           <div class="container">
             <div class="row justify-content-center">
               <div class="col-lg-12 text-center">
                 <h4>Our Newsletter</h4>
                 <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
               </div>
               <div class="col-lg-6">
                 <form action="" method="post">
                   <input type="email" name="email"><input type="submit" value="Subscribe">
                 </form>
               </div>
             </div>
           </div>
         </div> -->

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="Main/HomePage" class="logo d-flex align-items-center">
                            <!--- <img src="Main-img/logo.png" alt="">
                                <span>FlexStart</span>
                              </a>
                              <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                            -->
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Faydalı Linkler</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Anasayfa</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Hizmetler</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Kullanım Şartları</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Hizmetlerimiz</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Tasarım</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Geliştirme</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Mobil Geliştirme</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Mobil Tasarım</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Grafik Dizayn</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Bize Ulaşın</h4>
                        <p>
                            Fırat Üniversitesi Teknoloji Fakültesi Yazılım Mühendisliği Bölümü, 23119 - ELAZIĞ
                            <br> <strong>Phone:</strong>
                            +90 424 237 00 00 <br>
                            <strong>E-Posta:</strong> deneme@hotmail.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <!--- <div class="container">
           <div class="copyright">
             &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
           </div>
           <div class="credits">
             <!-- All the links in the footer should remain intact.
             <!-- You can delete the links only if you purchased the pro version.
             <!-- Licensing information: https://bootstrapmade.com/license/
             <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
             Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
           </div>
         </div> -->
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/aos/aos.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Tasarım_Dosyaları/Main/Main-vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Tasarım_Dosyaları/Main/Main-js/main.js"></script>

</body>

</html>